@font-face {
    font-family: Norse-Bold;
    src: url(../form/font/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-container {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30vw;
    color: white;
}

a {
    text-decoration-line: underline;
    color: white;
}

.form-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
<<<<<<< HEAD
    height: 35vh;
=======
    height: 33vh;
>>>>>>> refs/remotes/origin/main
    background-color: #EFEFEF;
}

.registration {
<<<<<<< HEAD
    height: 30vh;
=======
    height: 33vh;
>>>>>>> refs/remotes/origin/main
    background-color: white;
}

.submission {
<<<<<<< HEAD
    height: 35vh;
=======
    height: 33vh;
>>>>>>> refs/remotes/origin/main
    background-color: #EFEFEF;
}

h2 {
    margin-left: 50px;
    margin-bottom: 60px;
}

.main-form {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: flex-start;
    align-items: flex-start;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;;
}

.form-details {
    padding: 10px;
}

.form-title {
    margin-left: 50px;
    margin-top: 30px;
}

label {
    display: inline-block;
    width: 200px;
}

input {
    width: 70%;
    height: 20px;
=======
}

.form-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
>>>>>>> refs/remotes/origin/main
}